#video, #image {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 75%;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	margin-left: -10px;
	padding-right: 40px;
/*	width: 300px;
*/    display: inline;
	align: center;
	font-family: sans-serif;
	font-weight: lighter;
	background-color: rgba(236, 240, 241,0.5);
}

.hidden {
	display: none;
}